<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pogodynka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">

</head>

<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Back to main page</a></li>
    </ol>
</nav>


<form  th:action="@{/weather/go}" th:object="${fCity}" method="post">
    <p style="margin-left: 30px">Enter the city name : <input id ="fCity" type="text"  th:field="*{city}">


        <button class="btn btn-primary" style="margin-left: 30px" >Get data from API</button></p>
</form>
<div th:switch="${status}" class="container" style="margin-left: 50px">
    <div class="fcontainer">
        <p th:case="false"><p th:text="${info}"></p></p>
        <div th:case="*">
            <div class="container">
                <div class="form-group col-md-6">
                    <label for="name" class="col-form-label">City Name</label>
                    <input type="text" th:value="${weather.location.name}" class="form-control" id="name" readonly>
                </div>
                <div class="form-group col-md-6">
                    <label for="country" class="col-form-label">Country</label>
                    <input type="text" th:value="${weather.location.country}" class="form-control" id="country" readonly>
                </div>
                <div class="form-group col-md-6">
                    <label for="country" class="col-form-label">Time zone</label>
                    <input type="text" th:value="${weather.location.timezoneId}" class="form-control" id="timezoneId" readonly>
                </div>

                <div class="form-group col-md-6">
                    <label class="col-form-label">Temperature</label>
                    <input type="text" th:value="${weather.current.temperature}" class="form-control" id="temperature" readonly>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label">Weather</label>
                    <input type="text" th:value="${weather.current.weatherDescriptions}" class="form-control" id="weather" readonly>
                </div>
                <img th:src="${weather.current.weatherIcons.get(0)}"  >
            </div>


        </div>
    </div>

</div>

<script type="text/javascript">
    // document.getElementById("fData").setAttribute('value','2020');
</script>

</body>
</html>

